ul{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
background-color : blue;
list-align:center;
}
li{
float:left;
padding-right: 100px;
padding-top: 15px;
text-align:centre;
margin:2px;
}
li a{
margin:0;
padding:16px;
display:block;
text-align:centre;
text-decoration:none
font-color : white;
font-size : 25px;
font-style:bold;
}