ul{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
background-color : green;
list-align:center;
}
li{
float:left;
padding-right: 200px;
padding-top: 15px;
text-align:centre;
margin:2px;
}
li a{
margin:0;
padding:16px;
display:block;
text-align:centre;
text-decoration:none;
font-size : 20px;
font-style:bold;
}